/*清除父级影响---清除浮动*/
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
ul {
    margin: 0;
}
nav {
    background-color: transparent;
    height: 50px;
}
a {
    text-decoration: none;
}

header {
    background-color: rgba(0,0,0,0.4);
}
#banner {
    /*background-color: rgba(0,0,0,0.2);*/
    background-color: transparent;
    height: 700px;
}

.article #banner{
    height:500px;
}

nav ul {
    list-style: none;
    margin:0;
    float: right;
}
nav ul li,nav .logo {
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}

nav ul li a {
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    /*继承*/
    height: inherit;
    color: #fff;
}

nav ul li.logo {
    float: left;
    padding: 10px;
}

#banner .inner {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top:160px;
}

.article #banner .inner {
    top: 30px;
}
#banner .inner h1{
    margin: 0;
    color: #fff;
}

#banner .inner p{
    color: #fff;
}

/*常规button*/
button {
    border: none;
    background-color: #333;
    color: #eee;
    padding: 10px;
    border-radius: 5px;
}
#banner button {
    padding: 14px 60px;
    background: #089DB0;
}

#banner .inner .more {
    margin-top: 280px;
    color: #fff;
    font-size: 12px;
}

.sub-heading{
    line-height: 30px;
    margin: 30px 0;
    /*font-size: 18px;*/
}

/*导航栏样式*/
.logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo a{
    color: #fff;
}
/*内容*/

h1 {
    padding: 12px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.article h1{
    border: none;
}

h2{
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    letter-spacing: 1px;
}
.hr{
    width: 100px;
    height: 2px;
    margin: 20px auto;
}
.green-section {
    background-color: #089DB0;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}
.green-section .hr {
    background-color: #028e94;
    width: 60%;
}

.green-section .icon-grop .icon{
    display: inline-block;width: 80px;
    height: 80px;
    border: 1px solid #0D6F74;
    transform: rotate(45deg);
    margin: 20px;
}
.icon-grop {
    margin-top: 60px;
}
.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}
/*灰色区域*/
.gray-section {
    background-color: #252F34;
}
.gray-section .img-section{
    width: 45%;
}
.img-section img {
    width: 100%
}

.gray-section .text-section{
    width: 55%;
}
.article-preview > div {
    float: left;
    /*两图之间的缝隙（小细节）*/
    font-size: 0;
}

.article-preview:nth-child(odd){
    background-color:rgba(255,25,255,0.05);
}

.text-section{
   position: relative;
    top:68px;
    left:50px;
}

.text-section > * {
    max-width: 90%;
    color: #fff;
}
.text-section h2    {
    margin-bottom: 20px;
}

.text-section .sub-heading {
    font-size: 22px;
}
.text-section p {
    font-size: 18px;
    letter-spacing: 1px;
}

/*紫色部分*/
.purple-section {
    padding: 80px;
    background-color: #3F3965;
    color: #fff;
}
.purple-section .heading-wrapper {
    text-align: center;
}

.purple-section .hr {
    background: #373259;
    width: 60%;
}
.card{
    float: left;
    width: 50%;
    min-height: 300px;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border:1px solid #fff;*/
}
.card:first-child{
    /*不透明度为0.05的黑*/
    background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
    background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
    background: rgba(0,0,0,0.12);
}
.card:nth-child(4){
    background: rgba(0,0,0,0.16);
}
.card:nth-child(5){
    background: rgba(0,0,0,0.20);
}
.card:nth-child(6){
    background: rgba(0,0,0,0.24);
}
/*页脚*/
footer{
    background: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}
ul.share-group {
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}
.share-group li {
    display: inline-block;
    padding: 10px;
}
.copy{
    padding: 20px;
}
.main-wrapper {
    background: #444 url(../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow:hidden;
}
/*侧栏*/
.mask{
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}
#sidebar{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    -webkit-transform:translate(300px,0) ;
    -moz-transform:translate(300px,0) ;
    -ms-transform:translate(300px,0) ;
    -o-transform:translate(300px,0) ;
    transform: translate(300px,0);
    width:300px;
    background: #333;
    padding: 20px 0;
    transition: right 0.5s;
}
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar ul a {
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    width: 100%;
    display: inline-block;
}
#sidebar ul a:hover{
    background: #444;
}

.back-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid #888;
    border-radius: 5px;
}
/*文章内容页*/
.article .content{
    background: #fefefe;
}

article{
    line-height: 2;
    padding: 10px 0;
}
.content_wrapper{
    width: 1080px;
    margin: 0 auto;
}
.article_info{
    font-size: 14px;
    color: #888;
    padding: 15px 0;
}
.active{
    border-bottom:4px solid #fff;
}